* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    background: #2e80ce;
    padding: 22px 12px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.header {
    background: var(--primary-color);
    /* min-height: 100vh; */
    padding: 8px 0;
    position: sticky;
    z-index: 3;
    top: -22px;
}

.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.logo {
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle {
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
}

.logo__brand {
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.97; /* 77.778% */
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 26px;
}

.navbar__link {
    padding: 8px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link--active {
    color: #fff;
    position: relative;
}

.navbar__link--active::before {
    position: absolute;
    left: -8px;
    top: 16px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
}

.cta__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.cta__signup {
    margin-left: 28px;
    min-width: 104px;
    border-radius: 22px;
    padding: 14px 16px;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    padding: 76px 0 110px;
    background-color: var(--primary-color);
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__media {
    margin-left: 113px;
    width: 46%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-of-type {
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img:last-of-type {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* Services */
.services {
    padding: 170px 0;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services-item {
    display: flex;
    width: 470px;
    padding: 21px 18px 20px 22px;
    border-radius: 10px;
}

.services-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
    background-color: #2e80ce;
    color: #fff;
}

.services-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6fd;
    color: #10375c;
}

.services-item__body {
    margin-left: 19px;
}

.services-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.services-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.services .btn {
    margin-top: 55px;
}

/* Work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    background-color: #fff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.feature {
    padding: 170px 0;
}

.feature__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.feature__images {
    position: relative;
    width: 49%;
    padding: 0 58px 121px 0;
}

.feature__img {
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:first-of-type {
    width: 512px;
}

.feature__img:last-of-type {
    position: absolute;
    width: 332px;
    bottom: 0;
    right: 0;
}

.feature__desc {
    margin-top: 18px;
}

.feature .btn {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 170px 0;
}

.member__header {
    text-align: center;
}

.member .btn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item {
    text-align: center;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; /* 185.714% */
}

.member__cta {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    column-gap: 16px;
}

.member__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background-color: #fff;
    color: #575f66;
}

.member__button:hover {
    cursor: pointer;
    background-color: #2e80ce;
    color: #fff;
    border: none;
}

.member__button-icon {
    rotate: 180deg;
}

/* Install */
.install {
    padding-top: 95px;
}

.install__inner {
    padding: 0 70px;
    background-color: #2e80ce;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.install__img {
    margin-top: -95px;
    display: block;
}

.install__content {
    margin-left: 160px;
}

.install__heading {
    color: #fff;
    width: 489px;
}

.install__desc {
    margin-top: 18px;
    color: #fff;
}

.install__cta {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}
